.listing{
    margin-top: 56px;
    margin-bottom: 56px;

}

.listing_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;   
}

.listing_card{
    height: 420px;
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 23px;
  
}
.listing_card_content{
    padding: 8px;
}

.listing_card_content:not(h2) {
    line-height: 34px;
}

.listing_card_content h2{
    margin-bottom: 14px;
}



.house_img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    
}

.location{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.icon{
    color: var(--secondaryBlueColor);
    font-size: 23px;
}


.listing_container a{
    color: black;
    text-decoration: none;
}




@media screen and (max-width: 950px) {
    .listing_container{
        grid-template-columns: repeat(3, 1fr);
    }
    
}



@media screen and (max-width: 670px) {
    .listing_container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 470px) {
    .listing_container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}


















