/* .single_page_house_img{
    width: 10%;
} */


.main_image{
    width: 50%;
    height: 400px;
    object-fit: cover;

}


.thumbnail_image{
    width: 200px;
    height: 200px;
    padding: 9px;
    object-fit: cover;
    cursor: pointer;
}



.right_listing img{
    width: 23%;

}


.singleListing_container{
    display: flex;
    justify-self: center;
    
}
