/* .single_page_house_img{
    width: 10%;
} */
.singleListing_container{
    margin-top: 23px;
}

.listContainer{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.left_listing{
    width: 100%;
}
.right_listing{
    width: 30%;
}



.main_image{
    width: 100%;
    height: 400px;
    object-fit: cover;

}


.thumbnail_image{
    width: 186px;
    height: 119px;
    padding: 9px;
    object-fit: cover;
    cursor: pointer;
}



.right_listing img{
    width: 80%;
    height: 21vh;
}

.relatedProduct_link li{
    list-style: none;
    text-decoration: none;

}
